services:
  dk_registry:
    container_name: ${PROJECT_NAME}_dk_registry
    image: ${url_docker_index}/registry:2.7
    environment:
      - REGISTRY_HTTP_SECRET=${DOCKER_REGISTRY_HTTP_SECRET:-6e271f338b1d9b3bcd58e934463304596a6b6cb5af8ed9b30c1174e0a3a0185c}
    volumes:
      - ./registry-data:/var/lib/registry
    networks:
      - appnet

  dk_registry_ui:
    container_name: ${PROJECT_NAME}_dk_registry_ui
    image: ${url_docker_index}/joxit/docker-registry-ui:2.6
    environment:
      - SINGLE_REGISTRY=true
      - REGISTRY_TITLE="JetforgeDockerRegistry"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/fullchain.pem:/etc/nginx/certs/fullchain.pem
      - ./nginx/privkey.pem:/etc/nginx/certs/privkey.pem
    ports:
      - "${DOCKER_REGISTRY_PORT}:443"
    depends_on:
      - dk_registry
    networks:
      - appnet

networks:
  appnet:
